<footer>
    <div class=" text-center row">
        <div>
            <div>
                <p class="col-lg-4 text-center">
                    Copyright &copy; BakPaker 2021 - Made with
                    &#9825 by <a rel="noopener" href="https://github.com/sLevasseur" target="_blank">Simon</a>
                </p>
                <div class="col-lg-2 text-center">
                    <small><p><a href="/bakpak/unsubscribe/">Se désinscrire</a></p></small>
                </div>
                <div class="col-lg-2 text-center">
                    <small><p><a href="/admin/">Accès admin</a></p></small>
                </div>
                <div class="col-lg-2 text-center">
                    <small><p><a href="/bakpak/legal_stuff/">Mentions légales</a></p></small>
                </div>
                <div class="col-lg-2 text-center">
                    <small><p>Icons by <a rel="noopener" href="https://thenounproject.com/" target="_blank">The Noun Project</a></p></small>
                </div>
            </div>
        </div>
    </div>
</footer>
