<script>
    document.addEventListener("DOMContentLoaded", function() {
      let lazyloadImages = document.querySelectorAll("img.lazy-load");
      let lazyloadThrottleTimeout;

      function lazyload() {
        if(lazyloadThrottleTimeout) {
          clearTimeout(lazyloadThrottleTimeout);
        }
        lazyloadThrottleTimeout = setTimeout(function() {
          let scrollTop = window.pageYOffset;
          lazyloadImages.forEach(function(img) {
            if(img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.title = "flip-img"
              img.classList.remove('lazy');
            }
          });
          if(lazyloadImages.length == 0) {
            document.removeEventListener("scroll", lazyload);
            window.removeEventListener("resize", lazyload);
            window.removeEventListener("orientationChange", lazyload);
          }
        }, 20);
      }
      document.addEventListener("scroll", lazyload);
      window.addEventListener("resize", lazyload);
      window.addEventListener("orientationChange", lazyload);
    });

    scrollrisen.init({

  easing: 'ease',

  duration: 2000,

  trigger: 0.1,
  /**
   * should animation go in reverse when element is below the viewport
   */
  reverse: false,

  debounce: 16,
  /**
   * active class applied to elements in viewport
   */
  activeClass: '_sr-active'
});
</script>