<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class=".container-md">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <div>
                <a class="navbar-brand" href="/bakpak/">
                    <img id="logo" src="/../static/bakpak_website/img/Logo_K_Bakpak2-resize.png" />

                </a>
            </div>        
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/bakpak/">Accueil</a>
                </li>
                <li>
                    <a href="/bakpak/#ancre_apropos">A propos</a>
                </li>
                <li>
                    <a href="/bakpak/#ancre_galerie">Galerie</a>
                </li>
                <li>
                    <a href="/bakpak/#ancre_actualites">Actualité</a>
                </li>
                <li>
                    <a href="/bakpak/blog/#ancre_blog">Blogs</a>
                </li>
                <li>
                    <a href="/bakpak/#ancre_contact">Contact</a>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Nous trouver
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="text-center" href="/bakpak/#ancre_nous_trouver">Points de vente</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="text-center" href="https://shop.easybeer.fr/brasserie-bakpaker" target="_blank">Boutique</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a class="dropdown-item text-center" href="https://www.facebook.com/BrasserieBakpaker/?ref=page_internal" target="_blank">
                                <img src="/../static/bakpak_website/img/facebookgrey.svg" />
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
